---
import servicesData from '../data/services.json';

const { title, topper, description } = Astro.props;
---

<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-1974">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">{topper}</span>
            <h2 class="cs-title">{title}</h2>
            <p class="cs-text">
                {description}
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <div class="cs-flex">
                    <h3 class="cs-h3">{servicesData.services[0].title}</h3>
                    <p class="cs-item-text">
                        {servicesData.services[0].description}
                    </p>
                    <a href="" class="cs-link">
                        Learn More
                    </a>
                </div>
                <picture class="cs-picture">
                    <img loading="lazy" decoding="async"
                    src={servicesData.services[0].image} alt="icon"
                    width="181" height="102">
                </picture>
            </li>
            <li class="cs-item">
                <div class="cs-flex">
                    <h3 class="cs-h3">{servicesData.services[1].title}</h3>
                    <p class="cs-item-text">
                      {servicesData.services[1].description}
                    </p>
                    <a href="" class="cs-link">
                        Learn More
                    </a>
                </div>
                <picture class="cs-picture">
                    <img loading="lazy" decoding="async"
                    src={servicesData.services[1].image} alt="icon" width="181"
                    height="102">
                </picture>
            </li>
            <li class="cs-item">
                <div class="cs-flex">
                    <h3 class="cs-h3">{servicesData.services[2].title}</h3>
                    <p class="cs-item-text">
                      {servicesData.services[2].description}
                    </p>
                    <a href="" class="cs-link">
                        Learn More
                    </a>
                </div>
                <picture class="cs-picture">
                    <img loading="lazy" decoding="async"
                    src={servicesData.services[2].image} alt="icon"
                    width="181" height="102">
                </picture>
            </li>
            <li class="cs-item">
                <div class="cs-flex">
                    <h3 class="cs-h3">{servicesData.services[3].title}</h3>
                    <p class="cs-item-text">
                      {servicesData.services[3].description}
                    </p>
                    <a href="" class="cs-link">
                        Learn More
                    </a>
                </div>
                <picture class="cs-picture">
                    <img loading="lazy" decoding="async"
                    src={servicesData.services[3].image} alt="icon" width="181"
                    height="102">
                </picture>
            </li>
        </ul>
    </div>
</section>
<style>
/*-- -------------------------- -->
<---         Services           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #services-1974 {
    padding: var(--sectionPadding);
    overflow: hidden;
    position: relative;
    background: var(--primaryLight);
  }
  #services-1974::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: var(--primary);
    opacity: 0.05;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #services-1974 .cs-container {
    width: 100%;
    max-width: 44rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #services-1974 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #services-1974 .cs-card-group {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* 16px - 20px */
    gap: clamp(1rem, 2vw, 1.25rem);
  }
  #services-1974 .cs-item {
    text-align: left;
    list-style: none;
    width: 100%;
    margin: 0 auto;
    /* prevents padding and border from affecting height and width */
    /* 16px - 32px */
    padding: clamp(1rem, 4.5vw, 2rem);
    background-color: #fff;
    border-radius: 0.5rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    grid-column: span 12;
    grid-row: span 1;
    gap: 2rem;
    position: relative;
    z-index: 1;
    border: 1px solid transparent;
    transition: border-color 0.3s;
  }
  #services-1974 .cs-item:hover {
    border-color: var(--primary);
  }
  #services-1974 .cs-flex {
    display: flex;
    flex-direction: column;
  }
  #services-1974 .cs-h3 {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
    font-weight: 700;
    line-height: 1.2em;
    text-align: inherit;
    margin: 0 0 1rem 0;
    color: var(--headerColor);
    transition: color 0.3s;
  }
  #services-1974 .cs-item-text {
    font-size: 1rem;
    line-height: 1.5em;
    max-width: 28.125rem;
    margin: 0;
    margin-bottom: 1.5rem;
    padding: 0;
    color: var(--bodyTextColor);
  }
  #services-1974 .cs-link {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.2em;
    text-align: inherit;
    text-decoration: none;
    max-width: fit-content;
    margin-top: auto;
    color: var(--primary);
    border-bottom: 1px solid var(--primary);
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  #services-1974 .cs-picture {
    margin: 0;
    padding: 3.625rem 0 0 7.1875rem;
    border-radius: 0.5rem;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
  }
  #services-1974 .cs-picture:before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: var(--primary);
    opacity: 0.05;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #services-1974 .cs-picture img {
    width: 100%;
    height: auto;
    display: block;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #services-1974 .cs-container {
    max-width: 80rem;
  }
  #services-1974 .cs-content {
    width: 60%;
  }
  #services-1974 .cs-item {
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
  #services-1974 .cs-picture {
    height: auto;
    padding: 3.8125rem 0 0 0.25rem;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #services-1974 .cs-item {
    grid-column: span 6;
  }
  #services-1974 .cs-picture {
    padding: 8.3125rem 0 0 0.25rem;
  }
}
/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
  #services-1974 .cs-picture {
    padding: 2.3125rem 0 0 0.25rem;
  }
}
                                    
</style>                              